<div class="modal-header" ng-style="{'background-color' : color }" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <img src="client/app/images/iconos/inventario/inventario02.png" width="30" style="margin-right: 10px">{{action == -1 ? "ADICIONAR" : "ACTUALIZAR"}} PRODUCTO
    </h4>
</div>
<form name="productoForm" novalidate>
<div class="modal-body" >
    <div style="padding: 0px 5px; height : 350px; overflow-y : scroll; ">
        <div class="panel {{action === -1 ? 'panel-success' : 'panel-warning'}}" style="margin: 5px 0px;">
            <div class="panel-heading">
                <h4 style="margin: 0"><span class="">DATOS GENERALES</span></h4>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-right: 0">
                    <div class="form-group input-group-sm">
                        <label class="control-label col-xs-3" for="nombre">Nombre *</label>
                        <div class="col-xs-9" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="nombre" id="nombre"
                                       placeholder="" required="required"
                                       ng-model="producto.nombre" ng-pattern="patternNombre">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.nombre.$touched" style="margin: -15px 0 10px 0">
                            <span ng-show="productoForm.nombre.$error.pattern">Valor incorrecto</span>
                            <span ng-show="productoForm.nombre.$error.required">Campo obligatorio</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-3" for="codigo">C&oacute;digo *</label>
                        <div class="col-xs-9" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="codigo" id="codigo"
                                       placeholder="" required="required"
                                       ng-model="producto.codigo" ng-pattern="patternCodigo">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.codigo.$touched" style="margin: -15px 0 10px 0">
                            <span ng-show="productoForm.codigo.$error.pattern">Valor incorrecto</span>
                            <span ng-show="productoForm.codigo.$error.required">Campo obligatorio</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="codigoBarras">C&oacute;digo Barras *</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="codigoBarras" id="codigoBarras"
                                       placeholder="" required="required"
                                       ng-model="producto.codigo_barras" ng-pattern="patternCodigoBarras">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.codigoBarras.$touched" style="margin: -15px 0 10px 0">
                            <span ng-show="productoForm.codigoBarras.$error.pattern">Valor incorrecto</span>
                            <span ng-show="productoForm.codigoBarras.$error.required">Campo obligatorio</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="categoriaProducto">Catergor&iacute;a</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                                <select class="form-control" name="categoriaProducto" id="categoriaProducto"
                                        ng-options="item as item.nombre  for item in catalogos.categoriasProducto track by item.codigo"
                                        ng-model="categoriaProductoSelected">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="tipoProducto">Tipo Producto</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                                <select class="form-control" name="tipoProducto" id="tipoProducto"
                                        ng-options="item as item.nombre  for item in catalogos.tiposProducto track by item.codigo"
                                        ng-model="tipoProductoSelected">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="marcaProducto">Marca</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                                <select class="form-control" name="marcaProducto" id="marcaProducto"
                                        ng-options="item as item.nombre  for item in catalogos.marcasProducto track by item.codigo"
                                        ng-model="marcaProductoSelected">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="modeloProducto">Modelo</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                                <select class="form-control" name="modeloProducto" id="modeloProducto"
                                        ng-options="item as item.nombre  for item in catalogos.modelosProducto track by item.codigo"
                                        ng-model="modeloProductoSelected">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="unidadMedida">Unidad Medida</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                                <select class="form-control" name="unidadMedida" id="unidadMedida"
                                        ng-options="item as item.nombre  for item in catalogos.unidadesMedida track by item.codigo"
                                        ng-model="unidadMedidaSelected">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-7" for="precioVenta">Precio Venta *</label>
                        <div class="col-xs-5" style="padding-right: 0px;">
                            <div class="input-group" style="margin-bottom: 10px">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control"
                                       name="precioVenta" id="precioVenta"
                                       placeholder="" required="required"
                                       ng-model="producto.precio_venta" ng-pattern="patternPrecioVenta">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.precioVenta.$touched" style="margin: -8px 0 10px 0">
                            <span ng-show="productoForm.precioVenta.$error.pattern">Valor incorrecto</span>
                            <span ng-show="productoForm.precioVenta.$error.required">Campo obligatorio</span>
                        </span>
                    </div>

                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="iva">IVA *</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                                <select class="form-control" name="iva" id="iva" required="required"
                                        ng-options="item as item.nombre  for item in catalogos.ivas track by item.codigo"
                                        ng-model="ivaSelected">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.iva.$touched" style="margin: -15px 0 10px 0">
                            <span ng-show="productoForm.iva.$error.required">Campo obligatorio</span>
                        </span>
                    </div>

                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="estado">Estado *</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                                <select class="form-control" name="estado" id="estado" required="required"
                                        ng-options="item as item.nombre  for item in catalogos.estadosProducto track by item.codigo"
                                        ng-model="estadoSelected">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.estado.$touched" style="margin: -15px 0 10px 0">
                            <span ng-show="productoForm.estado.$error.required">Campo obligatorio</span>
                        </span>
                    </div>


                    <!--<div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="fecha">Fecha *</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="input-group date" mydatepickerfree style="width: 275px; margin-bottom: 15px;">
                                <input type="text" class="form-control" name="fecha" id="fecha"
                                       ng-model="asiento.fecha" required="required"
                                       placeholder="Fecha contable">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" style="margin: -10px 0 10px 0;" ng-show="!asientoForm.$pristine && asientoForm.title.$error.required">Campo obligatorio</span>
                    </div>

                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="descripcion">Descripción *</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                            <textarea class="form-control" id="descripcion" rows="2"
                                      name="descripcion"
                                      placeholder="Descripción"
                                      ng-model="asiento.descripcion" required="required" ng-pattern="patternDescripcion"></textarea>
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" style="margin: -10px 0 10px 0;" ng-show="!asientoForm.$pristine && asientoForm.descripcion.$error.required">Campo obligatorio</span>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="panel {{action === -1 ? 'panel-success' : 'panel-warning'}}" style="margin: 5px 0px;">
            <div class="panel-heading">
                <h4 style="margin: 0"><span class="">DATOS REFERENCIALES (STOCK)</span></h4>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-right: 0">
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-3" for="referencia">Referencia</label>
                        <div class="col-xs-9" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="referencia" id="referencia"
                                       placeholder=""
                                       ng-model="producto.referencia" ng-pattern="patternReferencia">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.referencia.$touched" style="margin: -10px 0 10px 0">
                            <span ng-show="productoForm.referencia.$error.pattern">Valor incorrecto</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="descripcion">Descripci&oacute;n Alterna</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                        <textarea class="form-control" id="descripcion" rows="2"
                                  name="descripcion"
                                  placeholder=""
                                  ng-model="producto.descripcion" ng-pattern="patternDescripcion"></textarea>
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.descripcion.$touched" style="margin: -10px 0 10px 0">
                            <span ng-show="productoForm.descripcion.$error.pattern">Valor incorrecto</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-7" for="stockActual">Stock Actual *</label>
                        <div class="col-xs-5" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="stockActual" id="stockActual"
                                       placeholder="" required="required"
                                       ng-model="producto.stock_actual" ng-pattern="patternStockActual">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.stockActual.$touched" style="margin: -10px 0 10px 0">
                            <span ng-show="productoForm.stockActual.$error.required">Campo obligatorio</span>
                            <span ng-show="productoForm.stockActual.$error.pattern">Valor incorrecto</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-7" for="stockMinimo">Stock M&iacute;nimo *</label>
                        <div class="col-xs-5" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="stockMinimo" id="stockMinimo"
                                       placeholder="" required="required"
                                       ng-model="producto.stock_minimo" ng-pattern="patternStockMinimo">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.stockMinimo.$touched" style="margin: -10px 0 10px 0">
                            <span ng-show="productoForm.stockMinimo.$error.required">Campo obligatorio</span>
                            <span ng-show="productoForm.stockMinimo.$error.pattern">Valor incorrecto</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-7" for="stockMaximo">Stock M&aacute;ximo *</label>
                        <div class="col-xs-5" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="stockMaximo" id="stockMaximo"
                                       placeholder="" required="required"
                                       ng-model="producto.stock_maximo" ng-pattern="patternStockMaximo">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.stockMaximo.$touched" style="margin: -10px 0 10px 0">
                            <span ng-show="productoForm.stockMaximo.$error.required">Campo obligatorio</span>
                            <span ng-show="productoForm.stockMaximo.$error.pattern">Valor incorrecto</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="ubicacion">Ubicaci&oacute;n</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                                <textarea class="form-control" id="ubicacion" rows="2"
                                      name="ubicacion"
                                      placeholder=""
                                      ng-model="producto.ubicacion" ng-pattern="patternUbicacion"></textarea>
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.ubicacion.$touched" style="margin: -10px 0 10px 0">
                            <span ng-show="productoForm.ubicacion.$error.pattern">Valor incorrecto</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-7" for="costoUltimaCompra">Costo &Uacute;ltima Compra *</label>
                        <div class="col-xs-5" style="padding-right: 0px;">
                            <div class="input-group" style="margin-bottom: 10px">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control"
                                       name="costoUltimaCompra" id="costoUltimaCompra"
                                       placeholder="" required="required"
                                       ng-model="producto.costo_ultima_compra" ng-pattern="patternCostoUltimaCompra">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.costoUltimaCompra.$touched" style="margin: -15px 0 10px 0">
                            <span ng-show="productoForm.costoUltimaCompra.$error.required">Campo obligatorio</span>
                            <span ng-show="productoForm.costoUltimaCompra.$error.pattern">Valor incorrecto</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-7" for="costoPrimeraCompra">Costo Primera Compra *</label>
                        <div class="col-xs-5" style="padding-right: 0px;">
                            <div class="input-group" style="margin-bottom: 10px">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control"
                                       name="costoPrimeraCompra" id="costoPrimeraCompra"
                                       placeholder="" required="required"
                                       ng-model="producto.costo_primera_compra" ng-pattern="patternCostoPrimeraCompra">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.costoPrimeraCompra.$touched" style="margin: -10px 0 10px 0">
                            <span ng-show="productoForm.costoPrimeraCompra.$error.required">Campo obligatorio</span>
                            <span ng-show="productoForm.costoPrimeraCompra.$error.pattern">Valor incorrecto</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel {{action === -1 ? 'panel-success' : 'panel-warning'}}" style="margin: 5px 0px;">
            <div class="panel-heading">
                <h4 style="margin: 0"><span class="">DATOS PARA IMPORTACI&Oacute;N</span></h4>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-right: 0">
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-3" for="altura">Dimensiones (cm)</label>
                        <div class="col-xs-3" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="altura" id="altura"
                                       placeholder="Altura" ng-model="producto.altura" ng-pattern="patternAltura">
                            </div>
                        </div>
                        <div class="col-xs-3" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="longitud" id="longitud"
                                       placeholder="Longitud" ng-model="producto.longitud" ng-pattern="patternLongitud">
                            </div>
                        </div>
                        <div class="col-xs-3" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="profundidad" id="profundidad"
                                       placeholder="Profundidad" ng-model="producto.profundidad" ng-pattern="patternProfundidad">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.altura.$touched" style="margin: -10px 0 10px 0">
                            <span ng-show="productoForm.altura.$error.pattern">Valor de la Altura incorrecto</span>
                        </span>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.longitud.$touched" style="margin: -10px 0 10px 0">
                            <span ng-show="productoForm.longitud.$error.pattern">Valor de la Longitud incorrecto</span>
                        </span>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.profundidad.$touched" style="margin: -10px 0 10px 0">
                            <span ng-show="productoForm.profundidad.$error.pattern">Valor de la Profundidad incorrecto</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="iceCompra">ICE de Compra *</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                                <select class="form-control" name="iceCompra" id="iceCompra" required="required"
                                        ng-options="item as item.nombrecodigo  for item in catalogos.icesCompra track by item.codigo"
                                        ng-model="iceCompraSelected">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.iceCompra.$touched" style="margin: -15px 0 10px 0">
                            <span ng-show="productoForm.iceCompra.$error.required">Campo obligatorio</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-4" for="iceVenta">ICE de Venta *</label>
                        <div class="col-xs-8" style="padding-right: 0px;">
                            <div class="form-group">
                                <select class="form-control" name="iceVenta" id="iceVenta" required="required"
                                        ng-options="item as item.nombrecodigo  for item in catalogos.icesVenta track by item.codigo"
                                        ng-model="iceVentaSelected">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.iceVenta.$touched" style="margin: -15px 0 10px 0">
                            <span ng-show="productoForm.iceVenta.$error.required">Campo obligatorio</span>
                        </span>
                    </div>
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-7" for="peso">Peso</label>
                        <div class="col-xs-5" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="peso" id="peso"
                                       placeholder=""
                                       ng-model="producto.peso" ng-pattern="patternPeso">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.peso.$touched" style="margin: -10px 0 10px 0">
                            <span ng-show="productoForm.peso.$error.pattern">Valor incorrecto</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel {{action === -1 ? 'panel-success' : 'panel-warning'}}" style="margin: 5px 0px;">
            <div class="panel-heading">
                <h4 style="margin: 0"><span class="">DATOS PARA PRODUCCI&Oacute;N</span></h4>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-right: 0">
                    <div class="form-group input-group-xs">
                        <label class="control-label col-xs-7" for="factorHoraHombre">Factor Hora hombre *</label>
                        <div class="col-xs-5" style="padding-right: 0px;">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="factorHoraHombre" id="factorHoraHombre"
                                       placeholder="" required="required"
                                       ng-model="producto.factor_hora_hombre" ng-pattern="patternFactorHoraHombre">
                            </div>
                        </div>
                        <span class="text-danger text-right col-xs-12" ng-show="productoForm.$submitted || productoForm.factorHoraHombre.$touched" style="margin: -15px 0 10px 0">
                            <span ng-show="productoForm.factorHoraHombre.$error.required">Campo obligatorio</span>
                            <span ng-show="productoForm.factorHoraHombre.$error.pattern">Valor incorrecto</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel {{action === -1 ? 'panel-success' : 'panel-warning'}}" style="margin: 5px 0px;">
            <div class="panel-heading">
                <h4 style="margin: 0"><span class="">DATOS CONTABLES</span></h4>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-right: 0">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button type="submit" class="btn {{action === -1 ? 'btn-success' : 'btn-warning'}} pull-right" ng-click="submitForm()">{{action === -1 ? 'Agregar' : 'Actualizar'}}</button>
</div>
</form>