<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon {{glyphicon}}"></span>CIERRE CONTABLE
    </h4>
</div>
<form name="asientoForm" novalidate>
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body">
            <div class="row" style="margin-right: 0">
                <div class="form-group input-group-xs">
                    <label class="control-label col-xs-4" for="fecha">Fecha Contable *</label>
                    <div class="col-xs-8" style="padding-right: 0px;">
                        <div class="input-group date" mydatepickerfree style="width: 275px; margin-bottom: 15px;">
                            <input type="text" class="form-control" name="fecha" id="fecha"
                                   ng-model="fecha" required="required"
                                   placeholder="Fecha contable">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <span class="text-danger text-right col-xs-12" style="margin: -10px 0 10px 0;" ng-show="!asientoForm.$pristine && asientoForm.title.$error.required">Campo obligatorio</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="submitForm(doc)">Hacer cierre</button>
</div>
</form>