<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon {{glyphicon}}"></span>ASIENTO CONTABLE
    </h4>
</div>
<form name="asientoForm" novalidate>
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body">
            <div class="row" style="margin-right: 0">
                <div class="form-group input-group-xs">
                    <label class="control-label col-xs-4" for="fecha">Fecha *</label>
                    <div class="col-xs-8" style="padding-right: 0px;">
                        <div class="input-group date" mydatepickerfree style="width: 275px; margin-bottom: 15px;">
                            <input type="text" class="form-control" name="fecha" id="fecha"
                                   ng-model="asiento.fecha" required="required"
                                   placeholder="Fecha contable">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <span class="text-danger text-right col-xs-12" style="margin: -10px 0 10px 0;" ng-show="!asientoForm.$pristine && asientoForm.title.$error.required">Campo obligatorio</span>
                </div>
                <div class="form-group input-group-xs">
                    <label class="control-label col-xs-4" for="descripcion">Descripción *</label>
                    <div class="col-xs-8" style="padding-right: 0px;">
                        <div class="form-group">
                        <textarea class="form-control" id="descripcion" rows="2"
                                  name="descripcion"
                                  placeholder="Descripción"
                                  ng-model="asiento.descripcion" required="required" ng-pattern="patternDescripcion"></textarea>
                        </div>
                    </div>
                    <span class="text-danger text-right col-xs-12" style="margin: -10px 0 10px 0;" ng-show="!asientoForm.$pristine && asientoForm.descripcion.$error.required">Campo obligatorio</span>
                </div>
                <div class="form-group input-group-xs">
                    <label class="control-label col-xs-4" for="tipoCuentas">Tipo Cuenta *</label>
                    <div class="col-xs-8" style="padding-right: 0px;">
                        <div class="form-group">
                            <select class="form-control" required="required" name="tipoCuentas" id="tipoCuentas"
                                    ng-options="item as item.descripcion  for item in tipoCuentas track by item.id"
                                    ng-model="asiento.tipoCuentaSelected">
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                    </div>
                    <span class="text-danger text-right col-xs-12" style="margin: -10px 0 10px 0" ng-show="!asientoForm.$pristine && asientoForm.cuentaDebe.$error.required">Campo obligatorio</span>
                </div>

                <div class="form-group input-group-xs">
                    <label class="control-label col-xs-4" for="cuentaHaber">Cuenta *</label>
                    <div class="col-xs-8" style="padding-right: 0px;">
                        <div class="form-group">
                            <select class="form-control" required="required" name="patentTypes" id="cuentaHaber"
                                    ng-options="item as item.codNombre | translate for item in cuentas track by item.id"
                                    ng-model="asiento.cuentaSelected">
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                    </div>
                    <span class="text-danger text-right col-xs-12" style="margin: -10px 0 10px 0" ng-show="!asientoForm.$pristine && asientoForm.cuentaHaber.$error.required">Campo obligatorio</span>
                </div>
                <div class="form-group input-group-xs">
                    <label class="control-label col-xs-4" for="importe">Importe *</label>
                    <div class="col-xs-4" style="padding-right: 0px;">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                   name="importe" id="importe" min="0"
                                   placeholder="0.00"
                                   ng-model="asiento.importe" ng-pattern="patternUniversity">
                        </div>
                    </div>
                    <div class="col-xs-4 text-center" style="padding-right: 0px; padding-top: 2px">
                        <button type="button" class="btn btn-info" ng-click="addCuenta()" style="font-size: 11px;">Adicionar Cuenta</button>
                        <span class="text-danger col-xs-12" style="margin: 0px 0 10px 0; font-size: 10px;" ng-show="msg !== ''">{{msg}}</span>
                    </div>
                    <!--<span class="text-danger text-right col-xs-12" style="margin: -10px 0 10px 0" ng-show="!asientoForm.$pristine && asientoForm.importe.$error.required">Campo obligatorio</span>
                    <span class="text-danger text-right col-xs-12" style="margin: -10px 0 10px 0;" ng-show="asientoForm.importe.$error.pattern">Solo números</span>-->
                </div>
            </div>
            <div class="row" style="margin-right: 0">
                <div class="col-xs-6">
                    <table class="table table-hover table-striped" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th style="width: 100%; text-align: center; padding: 0" colspan="2">Cuentas DEBE</th>
                            </tr>
                            <tr>
                                <th style="width: 30%; padding: 0">Código</th>
                                <th style="width: 60%; padding: 0">Importe</th>
                                <th style="width: 10%; padding: 0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="cuentasDebe.length === 0">
                                <td colspan="3">
                                    <div role="alert" class="alert alert-danger" style="margin-bottom: 0; padding: 5px;">
                                        <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                                        <span class="sr-only">Error:</span>
                                        {{'No existen cuentas'}}
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="cuentasDebe.length !== 0" ng-repeat="cuenta in cuentasDebe"  style="text-align: left;">
                                <td style="vertical-align: middle; padding: 4px">{{cuenta.codigo | cuenta}}</td>
                                <td style="vertical-align: middle; padding: 4px">{{cuenta.importe | currency : '$'}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs btn-danger" style="font-size: 8px;padding: 0 2px;" ng-click="delCuenta(0, cuenta.id)" title="Eliminar cuenta">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-right: 0"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-show="cuentasDebe.length !== 0">
                                <td class="{{style}}" style="vertical-align: middle; padding: 4px; text-align: center"><strong>Total</strong></td>
                                <td class="{{style}}" style="vertical-align: middle; padding: 4px; text-align: center" colspan="2"><strong>{{totalImporteDebe | currency : '$'}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table table-hover table-striped" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th style="width: 100%; text-align: center; padding: 0" colspan="2">Cuentas HABER</th>
                            </tr>
                            <tr>
                                <th style="width: 30%; padding: 0">Código</th>
                                <th style="width: 60%; padding: 0">Importe</th>
                                <th style="width: 10%; padding: 0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="cuentasHaber.length === 0">
                                <td colspan="3">
                                    <div role="alert" class="alert alert-danger" style="margin-bottom: 0; padding: 5px;">
                                        <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                                        <span class="sr-only">Error:</span>
                                        {{'No existen cuentas'}}
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="cuentasHaber.length !== 0" ng-repeat="cuenta in cuentasHaber"  style="text-align: left;">
                                <td style="vertical-align: middle; padding: 4px">{{cuenta.codigo | cuenta}}</td>
                                <td style="vertical-align: middle; padding: 4px">{{cuenta.importe | currency : '$'}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs btn-danger" style="font-size: 8px;padding: 0 2px;" ng-click="delCuenta(1, cuenta.id)" title="Eliminar cuenta">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-right: 0"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-show="cuentasHaber.length !== 0">
                                <td class="{{style}}" style="vertical-align: middle; padding: 4px; text-align: center"><strong>Total</strong></td>
                                <td class="{{style}}" style="vertical-align: middle; padding: 4px; text-align: center" colspan="2"><strong>{{totalImporteHaber | currency : '$'}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="totalDif !== 0" class="col-xs-12 text-center danger text-danger"><span><strong>Diferencia : {{totalDif < 0 ? totalDif : totalDif}}<strong></span></div>
            </div>


        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="submitForm(doc)">Guardar</button>
</div>
</form>