<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-lock"></span>CAMBIAR CONTRASEÑA
    </h4>
</div>
<form name="changePasswordForm">
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body">
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="currentPassword">Contraseña actual *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="password" class="form-control"
                               name="currentPassword" id="currentPassword"
                               placeholder="Ingrese la contraseña actual"
                               ng-model="currentPassword" required="required" ng-pattern="patternCurrentPassword">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="!changePasswordForm.$pristine && changePasswordForm.currentPassword.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="changePasswordForm.currentPassword.$error.pattern">{{'patentDialogMsgText1' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="newPassword1">Nueva contraseña *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="password" class="form-control" my-strengthpass
                               name="newPassword1" id="newPassword1"
                               placeholder="Ingrese la nueva contraseña"
                               ng-model="newPassword1" required="required" ng-pattern="patternNewPassword1">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="!changePasswordForm.$pristine && changePasswordForm.newPassword1.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="changePasswordForm.newPassword1.$error.pattern">{{'patentDialogMsgText1' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="newPassword2">Repita la nueva contraseña *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="password" class="form-control"
                               name="newPassword2" id="newPassword2" ng-change="checkPassword()"
                               placeholder="Ingrese nuevamente la nueva contraseña"
                               ng-model="newPassword2" required="required" ng-pattern="patternNewPassword2">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="!changePasswordForm.$pristine && changePasswordForm.newPassword2.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                <span class="text-danger text-right col-xs-11" ng-show="dontMatch">Las contraseñas no coinciden</span>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="changePasswordForm.newPassword2.$error.pattern">{{'patentDialogMsgText1' | translate}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="submitForm()">Cambiar contraseña</button>
</div>
</form>