<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-lock"></span> {{'userregDialogText1' | translate}}
    </h4>
</div>
<form name="changePasswordByAdminForm">
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body">
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="newPassword1">{{'userregDialogLbNewPassword1' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="password" class="form-control" my-strengthpass
                               name="newPassword1" id="newPassword1"
                               placeholder="{{'userregDialogPhNewPassword1' | translate}}"
                               ng-model="newPassword1" required="required" ng-pattern="patternNewPassword1">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="!changePasswordByAdminForm.$pristine && changePasswordByAdminForm.newPassword1.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="changePasswordByAdminForm.newPassword1.$error.pattern">{{'patentDialogMsgText1' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="newPassword2">{{'userregDialogLbNewPassword2' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="password" class="form-control"
                               name="newPassword2" id="newPassword2" ng-change="checkPassword()"
                               placeholder="{{'userregDialogPhNewPassword2' | translate}}"
                               ng-model="newPassword2" required="required" ng-pattern="patternNewPassword2">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="!changePasswordByAdminForm.$pristine && changePasswordByAdminForm.newPassword2.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                <span class="text-danger text-right col-xs-11" ng-show="dontMatch">{{'userregMsgText2' | translate}}</span>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="changePasswordByAdminForm.newPassword2.$error.pattern">{{'patentDialogMsgText1' | translate}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'educationDialogBtnCancel' | translate}}</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="submitForm()">{{'userregDialogBtnChange' | translate}}</button>
</div>
</form>